   <!-- Theme Toggle -->
   <button class="theme-toggle" aria-label="Toggle dark mode">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
    </svg>
</button>

<!-- Navigation -->
<nav class="navbar">
    <div class="nav-content">
        <div class="logo"> <a href='{% url 'home' %}'> RhythmConnect</a></div>
        <div class="nav-search">
            <input type="text" placeholder="Search classes, instructors, or styles..." class="search-input">
        </div>
        {% if not user.is_authenticated %}
        <button class="get-started-btn" onclick="window.location.href='{% url 'login' %}'">Start Learning</button>
        {% else %}
        <button class="get-started-btn text-danger" onclick="window.location.href='{% url 'logout' %}'">Logout</button>
        {% endif %}
    </div>
</nav>
